.circle1 {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}

.circle2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
}

.circle3 {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.glow1 {
  box-shadow: 0 0 20px 8px green;
}

.glow2 {
  box-shadow: 0 0 20px 8px yellow;
}

.glow3 {
  box-shadow: 0 0 20px 8px red;
}