.circle1 {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}

.circle2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
}

.circle3 {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.circle4 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}